.sign_up_page{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../public/stethoscope-840125_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2%;    
    position: relative;
}
.sign_up_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vw;
    width: 40vw;
    border-radius: 1.5625vw;
    align-self: center;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form_header{
    font-size: 2vw;
    font-weight: 800;
    margin-bottom: 1%;
    margin-top: 2%;
}
.form_header_cpt{
    font-size: 1vw;
    word-spacing: 10px;
    margin-bottom: 3%;
}
.form_item input{
    background: none;
    border: none;
    margin-bottom: 2vh;
    height: 3.125vw;
    width: 25vw;
    border-radius: 1.5625vw;
    border: solid 1px black;
    padding-left: 2%;
    font-size: 1vw;
    font-weight: bold;
}
.btn{
    border: none;
    background: none;
    margin-top: 1.25vw;
    color: #fff;
    background: black;
    height: 3.125vw;
    width: 7.5vw;
    border-radius: 25px;
    font-size: 1.2vw;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 11px 10px 28px -4px rgba(0,0,0,0.52);
    -webkit-box-shadow: 11px 10px 28px -4px rgba(0,0,0,0.52);
    -moz-box-shadow: 11px 10px 28px -4px rgba(0,0,0,0.52);    
}
.error_msg{
    color: red;
    font-size: 1vw;
}
@media(max-width: 999px){
    .sign_up_form{
        border-radius: 3.125vw;
        width: 80vw;
        height: 60vw;
    }
    .form_header{
        font-size: 4vw;
    }
    .form_header_cpt{
        font-size: 2vw;
    }
    .form_item input{
        width: 50vw;
        height: 6.25vw;
        font-size: 2vw;
        border-radius: 3.125vw;
    }
    .btn{
        margin-top: 2.5vw;
        height: 6.25vw;
        width: 15vw;
        font-size: 2.4vw;
    }
    .error_msg{
        font-size: 2vw;
    }
}
@media(max-width:550px){
    .sign_up_form{
        border-radius: 3.125vw;
        width: 80vw;
        height: 60vw;
    }
    .form_header{
        font-size: 4vw;
    }
    .form_header_cpt{
        font-size: 2vw;
    }
    .form_item input{
        width: 50vw;
        height: 6.25vw;
        font-size: 2vw;
        border-radius: 3.125vw;
    }
    .btn{
        margin-top: 2.5vw;
        height: 6.25vw;
        width: 15vw;
        font-size: 2.4vw;
    }
    .error_msg{
        font-size: 2vw;
    }
}