.login_page{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../public/stethoscope-840125_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2%;  
    position: relative;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vw;
    width: 30vw;
    border-radius: 1.5625vw;
    align-self: center;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form h2{
    font-size: 2vw;
    font-weight: 900;
    margin-bottom: 2%;
    margin-top: 2%;
}
.caption{
    font-size: 1vw;
    margin-bottom: 2%;
}
.form input{
    background: none;
    border: none;
    margin-bottom: 2vh;
    height: 3.125vw;
    width: 25vw;
    border-radius: 1.5625vw;
    border: solid 1px black;
    padding-left: 2%;
    font-size: 1vw;
    font-weight: bold;
}
.form button{
    border: none;
    background: none;
    margin-top: 1.25vw;
    color: #fff;
    background: black;
    height: 3.125vw;
    width: 7.5vw;
    border-radius: 25px;
    font-size: 1.2vw;
    font-weight: 900;
    box-shadow: 11px 10px 28px -4px rgba(0,0,0,0.52);
    -webkit-box-shadow: 11px 10px 28px -4px rgba(0,0,0,0.52);
    -moz-box-shadow: 11px 10px 28px -4px rgba(0,0,0,0.52);    
}
.err_msg{
    font-size: 1vw;
    color: red;
}

@media(max-width:999px){
    .form{
        height: 50vw;
        width: 60vw;
        border-radius: 2.125vw;
    }
    .form h2{
        font-size: 4vw;
    }
    .caption{
        font-size: 2vw;
    }
    .form input{
        height: 6.25vw;
        width: 50vw;
        border-radius: 3.125vw;
        border: solid 2px black;
        font-size: 2vw;
    }
    .form button{
        height: 6.25vw;
        width: 15vw;
        font-size: 2.4vw;
    }
    .err_msg{
        font-size: 2vw;
    }
}
@media(max-width:550px){
    .form{
        height: 75vw;
        width: 90vw;
        border-radius: 4.6875vw;
    }
    .form h2{
        font-size: 6vw;
    }
    .caption{
        font-size: 3vw;
    }
    .form input{
        height: 9.375vw;
        width: 75vw;
        border-radius: 4.6875vw;
        border: solid 2px black;
        font-size: 3vw;
    }
    .form button{
        height: 9.275vw;
        width: 22.5vw;
        font-size: 3.6vw;
    }
    .err_msg{
        font-size: 3vw;
    }
}